# Hoist these packages so Next.js and Prisma can find peer dependencies
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*next*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*tailwind*
